# ¿Que es una variable?

### Boleanos

In [9]:
False #Boleanos

False

In [10]:
True #Boleanos

True

### Numericas

Integers: Numeros sin decimales

In [ ]:

2

In [12]:
3+5

8

Float

In [18]:
3.14159 + 2.58233

5.72392

String: Es una variable de texto, letras

In [19]:
"Hola, mundo"

'Hola, mundo'

## Operadores

Suma: +

Resta: - 

Multiplicacion: *

Division: /

Potencia: **

### Definir variables

In [21]:
hola = "Hola, mundo"
hola

'Hola, mundo'

In [24]:
type(hola)

str

In [33]:
suma_variable = 3.14159 + 2.58233

In [34]:
suma_variable

5.72392

In [25]:
type(suma_variable)

float

In [26]:
imaginario = 3+5j

In [27]:
type(imaginario)

complex

### Print

In [28]:
print(hola)

Hola, mundo

In [29]:
print(2)

2

In [30]:
print(imaginario)

(3+5j)

In [31]:
print((type(hola)))

<class 'str'>

Ejemplo de un condicional:

In [41]:
if suma_variable == str:
    print("Es un string")
else:
    print("No es un string")

No es un string

## Operaciones entre variables

In [68]:
#Suma
5+6

11

In [69]:
#Resta
5-8

-3

In [70]:
# Multiplicacion
5*8

40

In [71]:
#Division
3 / 4

0.75

In [72]:
#Potencia
3 ** 4

81

In [73]:
#Residuo
10 %3

1

## Variables numericas y no numericas no se pueden operar entre si

In [42]:
adios = "Adios, mundo"
variable_int = 2+2
variable_bool = True
variable_complex = 3 + 5j

In [43]:
suma_variable = adios + variable_int

TypeError: can only concatenate str (not "int") to str

In [45]:
suma_variable2 = variable_complex + variable_int
print(suma_variable2)

(7+5j)

In [46]:
suma_variable3 = variable_complex + variable_bool
print(suma_variable3)

(4+5j)

In [47]:
# Suma de strings

suma_strings = adios + " " + "cruel"
print(suma_strings)

Adios, mundo cruel

### Convertir tipos de variables

In [48]:
variable_float = 3.14159

In [49]:
print(variable_float)

3.14159

In [50]:
variable_float_convertida = str(variable_float)
print(variable_float_convertida)

3.14159

In [51]:
type(variable_float)

float

In [52]:
type(variable_float_convertida)

str

In [53]:
variable_float + "es igual a PI"

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [55]:
variable_float_convertida + " es igual a PI"

'3.14159 es igual a PI'

In [83]:
float(5)

5.0

In [84]:
int(3.6555)

3

## Input

In [56]:
valor_1 = input("Introduce el sumando 1: ")
valor_2 = input("Introduce el sumando 2: ")

In [57]:
suma_inputs = valor_1 + valor_2

In [58]:
print(suma_inputs)

1533

Esto sale asi porque los input son de tipo variable string...es decir en lugar de sumar mis variables 15 y 33, las concateno.
Para hacer esto adecuadamente debemos sumar convirtiendo las variables (en este caso los estamos convirtiendo a enteros):

In [61]:
suma_inputs_numerico = int(valor_1) + int(valor_2)

In [63]:
print(suma_inputs_numerico)

48

In [64]:
multiplo_1 = float(input("Introduce el primer número: "))
multiplo_2 = float(input("Introduce el segundo número: "))

In [66]:
multiplicacion_inputs = multiplo_1 + multiplo_2

In [67]:
print(multiplicacion_inputs)

11.4

## Dinámica: Clasificar si el numero es par

In [74]:
numero_ingresado = float(input("Introduce un numero: "))


if numero_ingresado % 2 == 0:
    print("El número es par")
elif numero_ingresado == 1:
    print("El numero es 1, no se puede dividir entre 2")
else:
    print("El numero es impar")

El numero es impar

## Variables multiples

In [76]:
x, y, z = 4, 74, 1200

print(x)
print(y)
print(z)

4
74
1200

In [79]:
coordenadas = input("Introduce las coordenadas x, y, z divididas por comas: ")
print(coordenadas)

4, 48, 59

In [81]:
x, y, z = coordenadas.split(",")

In [82]:
print(x)
print(y)
print(z)

4
 48
 59

## Darle sentido a las variables

Cuantitativa

In [86]:
densidad_roca_1 = 1.25
densidad_roca_2 = 2.93
densidad_roca_3 = 3.1
densidad_roca_4 = 2.7

In [87]:
densidad_media_rocas =(densidad_roca_1 + densidad_roca_2 + densidad_roca_3 + densidad_roca_4)/4
print(densidad_media_rocas)

2.495

In [89]:
#Concatenación de variables:

print("La densidad media de las rocas es:", densidad_media_rocas, "g/cm3")

La densidad media de las rocas es: 2.495 g/cm3

Cualitativas

In [90]:
tipo_roca_1 = "caliza"
tipo_roca_2 = "granito"
tipo_roca_3 = "arenisca"
tipo_roca_4 = "arcillolita"

In [91]:
print("La densidad de la roca", tipo_roca_1, "es", densidad_roca_1, "g/cm3")

La densidad de la roca caliza es 1.25 g/cm3

#### Ejercicio OOIP

In [92]:
porosidad = 0.25
net_pay = 50
area = 1000 #acres
sw = 0.25
bol = 1.1
cte = 1.5

In [93]:
stoolip = (cte*area*net_pay*porosidad*(1-sw))/bol

print("Petroleo Original In Situ: ", stoolip, "mmbbbls")

Petroleo Original In Situ:  12784.090909090908 mmbbbls

### Redondear

In [94]:
round(stoolip, 4)

12784.0909

### F-Strings

Permiten realizar operaciones dentro de una cadena de strings, la sintaxis es:

f"texto{variable} más texto"

In [95]:
print(f"stoolip: {stoolip:.4f}")

stoolip: 12784.0909

In [96]:
rqd = (12 + 15 + 25 + 19 + 11)/(8 + 12 + 15 + 9 + 25 + 19 + 11 + 4)
rqd

0.7961165048543689

In [97]:
print(f"El RQD en porcentaje es: {rqd:.2%}")

El RQD en porcentaje es: 79.61%

Esta fue la clase 1 de fundamentos de python